---
services:
  cp_server:
    privileged: true
    security_opt:
      - seccomp:unconfined
    platform: linux/amd64
    env_file: .env
    build:
      context: ./app/
      dockerfile: Dockerfile.dev
    ports:
      - 1234:3000
    volumes:
      - ./app:/app
    depends_on:
      - db
      - redis
      - sidekiq

  sidekiq:
    privileged: true
    security_opt:
      - seccomp:unconfined
    platform: linux/amd64
    env_file: .env
    build:
      context: ./app/
      dockerfile: Dockerfile
      args:
        RAILS_ENV: development
        BUNDLE_DEPLOYMENT: "0"
        BUNDLE_WITHOUT: ""
        WORKDIR_PATH: /app
    command: bundle exec sidekiq
    volumes:
      - ./app:/app
    depends_on:
      - db
      - redis

  db:
    platform: linux/amd64
    image: mysql:5.7
    env_file: .env
    volumes:
      - db_cp_server:/var/lib/mysql

  redis:
    platform: linux/amd64
    image: redis:7.4.2

volumes:
  db_cp_server:
    external: true
