<div class="submission-form-box">
  <form action="/problems/submit" method="post" enctype="multipart/form-data" id="problem-submission-form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="problem_id" value="<%= @problem.id %>">
    <div class="submission">
      <div class="submission-title">Submit Your Solution</div>
      <div class="submission-language">
        <select name="programming_language_id">
          <% @languages.each do |language| %>
            <option value="<%= language.id %>"><%= language.name.capitalize %></option>
          <% end %>
        </select>
        <input type="file" name="source_code">
      </div>
      <input type="submit" value="Submit" class="submission-button">
    </div>
  </form>
</div>
