<html>
  <head>
    <title>Problems</title>
  </head>

  <body>
    <h1>Problems</h1>

    <% @problems.each do |problem| %>
      <div> <%= link_to problem.title, problem_path(problem) %></div>
    <% end %>
  </body>
</html>
