<html>
  <head>
    <title>Problem: Something</title>
  </head>
  <body>
    <h1>Problem: Something</h1>
    <h2>Difficulty: Easy</h2>

    <h1>Description</h1>
      <div>
        <p>Given a string, return the first non-repeating character in it and return its index. If it does not exist, return -1.</p>
        <p>Examples:</p>
        <p>s = "leetcode"</p>
        <p>return 0.</p>
        <p>s = "loveleetcode"</p>
        <p>return 2.</p>
      </div>

    <h1>Examples</h1>
      <h2>Example 1</h2>
      <h3>Input</h3>
        <div>
          <p>s = "leetcode"</p>
        </div>
      <h3>Output</h3>
        <div>
          <p>0</p>
        </div>
      <h2>Example 2</h2>
      <h3>Input</h3>
        <div>
          <p>s = "loveleetcode"</p>
        </div>
      <h3>Output</h3>
        <div>
          <p>2</p>
        </div>

    <h1>Constraints</h1>
      <div>
        <p>The input string contains only lowercase English letters.</p>
      </div>
  </body>
</html>
