.navbar-box {
  a:visted {
    color: var(--navbar-text);
  }

  text-align: center;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
}

.nav-link {
  background-color: var(--navbar-bg);
  border-radius: 10px;
  border: 1px solid var(--navbar-border);
  margin: 30px 0;
  padding: 40px;

  color: var(--navbar-text);
  font-family: Arial, sans-serif;
  font-size: 1.0em;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;

  box-shadow: 0 0 5px var(--shadow-color);
  
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

.theme-toggle {
  font-size: 24px;
  cursor: pointer;
  padding: 8px 15px;
  
  &:hover {
    transform: scale(1.1);
  }
}
