.navbar-box {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #003366; // Light gray border
  border-radius: 10px; // Rounded corners 
  text-align: center;
  text-transform: uppercase; // All capitals
}
