.problem-tags {
  text-align: center;
}

.problem-tag {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: var(--tag-bg);
  color: var(--tag-text);
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1;
  margin-right: 10px;
  box-shadow: 0 0 1px var(--shadow-color);
  text-decoration: none;
}

.problem-tag-title {
  font-family: Arial, sans-serif;
  font-size: 1.9em;
  color: var(--text-heading);
}

