.submission-header {
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 1.9em;
  color: #000090;
  background-color: #efefef;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  font-weight: bold;
  text-align: center;
}

.submission-title {
  font-size: 1.5em;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
}

.submissions-header {
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #c0e0f0;
}

.submissions-table {
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  color: #000000;
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}

.submission-cell-uppercase {
  text-transform: uppercase;
}

.submission-row-even {
  background-color: #e0f0f0;
}

.submission-row-odd {
  background-color: #c0e0e0;
}

.submission-centered-cell {
  font-family: monospace;
  font-size: 1.0em;
  text-align: center;
  width: 15%;
  padding: 10px;
}

// Submission status

.submission-status-queued {
  color: #000090;
  font-weight: bold;
}

.submission-status-running {
  color: #000000;
  font-weight: bold;
}

.submission-status-wrong-answer {
  color: #c00000;
  font-weight: bold;
}

.submission-status-accepted {
  color: #009020;
  font-weight: bold;
}

.submission-status-time-limit-exceeded {
  color: #900090;
  font-weight: bold;
}

.submission-status-presentation-error {
  color: #3030a0;
  font-weight: bold;
}
