<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">Edit Contest: <%= @contest.name %></h1>
    <%= link_to "Back to Contest", admin_contest_path(@contest), class: "btn-secondary" %>
  </div>

  <%= render "form", contest: @contest %>
</div>
